<%- include('partials/header') %>
<div class="blogpage">
    <div class="ui main text container segment" style="text-align: center;">
        <div class="ui huge header"><%= blog.title %></div>
        <div class="item">
            <div class="image">
              <img src="<%= blog.image %>">
            </div>
            <div class="content">
              <!-- <div class="meta">
                <span>Description</span>
              </div> -->
              <div class="description">
                <p><%= blog.body %></p>
              </div>
              <div class="extra">
                <%= blog.created.toDateString() %>
              </div>
            </div>
          </div>
          <a class="ui basic orange button" href="/blogs/<%= blog._id %>/edit">EDIT</a>
        <form id="delete" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
        <button class="ui red basic button">DELETE</button>
        </form>
    </div>

</div>
<%- include('partials/footer') %>